---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<div id="main">
  <div class="fof">
    <a href="/">Home</a>
    <h2 class="four-o-four">Error 404 - Page Not Found</h2>
  </div>
</div>
