---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="My Blog">
  <h2>Find out more:</h2>

  <p>Come with me on my developer journey, and find out where I'm headed!</p>
  <ul class="blog-links">
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
