---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle="Home Page">
  <h2>Get Ready For Magic</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
