---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import RandomPhrase from "../scripts/RandomPhrase.jsx";
---

<BaseLayout pageTitle="Home Page">
  <h2><RandomPhrase client:load client:only="react" /></h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "Hi There!"]} />
</BaseLayout>
