---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="My Portfolio">
  <p>
    A list and descriptions of projects I have completed/designed. Some projects
    are for clients/family, or for Thinkful.com's Software Engineering Immersion
    Boot Camp.
  </p>

  <main>
    <hr />
    <a href="http://allsourcehealingreiki.wordpress.com" class="portfolio-links"
      >ALLsource.com</a
    >
    <p class="portfolio-paragraphs">
      A simple example of a WordPress website built my me. Includes embedded
      Social Media and clickable links. As well as fledged out routes for a
      Home, About, Contact, and Services page.
    </p><p>Status: Ongoing</p>
    <hr />
    <hr />
    <a
      href="https://1111estatesalesandliquidation.com/"
      class="portfolio-links"
    >
      11.11 Estate Sales & Liqudation</a
    >
    <p class="portfolio-paragraphs">
      Another example of a WordPress website built my me. Includes fledged out
      routes for a Home, About, Contact, and Services page. Modern styilng and
      social media/contact forms.
    </p><p>Status: Ongoing.</p>
    <hr />
    <a
      href="https://front-end-six-bay.vercel.app/dashboard"
      class="portfolio-links"
    >
      Restaurant Reservation App</a
    >
    <p class="portfolio-paragraphs">
      A fully fledge Reservation App, built using React/JS for the frontend and
      Node.js/Express for the backend. In it's working state can be used to
      create tables and seat customers. Built to be used in a client facing
      setting for creating and updating reservations. Created for Thinkful.com's
      Boot Camp - Final Project.
    </p><p>Status: DEPRECIATED</p>
    <hr />
    <img
      src="/assets/certificate.png"
      class="certificate-png"
      alt="certificate stating 'Ryan Stanton has successfully completed the Engineering immersion program - Thinkful.com'"
    />
  </main>
</BaseLayout>
