---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="My Portfolio">
  <p>
    A list and descriptions of projects I have completed/designed. Some projects
    are for clients/family, or for Thinkful.com's Software Engineering Immersion
    Boot Camp.
  </p>

  <main>
    <hr class="portfolio-line" />
    <a href="http://allsourcehealingreiki.wordpress.com" class="portfolio-links"
      >ALLsource.com</a
    >
    <p class="portfolio-paragraphs">
      A simple example of a WordPress website built my me. Includes embedded
      Social Media and clickable links. As well as fledged out routes for a
      Home, About, Contact, and Services page.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <a
      href="https://1111estatesalesandliquidation.com/"
      class="portfolio-links"
    >
      11.11 Estate Sales & Liqudation</a
    >
    <p class="portfolio-paragraphs">
      Another example of a WordPress website built my me. Includes fledged out
      routes for a Home, About, Contact, and Services page. Modern styilng and
      social media/contact forms.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <a
      href="https://front-end-six-bay.vercel.app/dashboard"
      class="portfolio-links"
    >
      Restaurant Reservation App</a
    >
    <p class="portfolio-paragraphs">
      A fully fledged Reservation App, built using React/JS for the frontend and
      Node.js/Express for the backend. In it's working state can be used to
      create tables and seat customers. Built to be used in a client facing
      setting for creating and updating reservations. Created for Thinkful.com's
      Boot Camp - Final Project.
    </p><p>Status: <span class="deprecated-display">DEPRECATED</span></p>
    <hr class="portfolio-line" />
    <a href="https://tryhackme.com/p/cyb3r4ngelm4rs" class="portfolio-links">
      TryHackMe.com Profile</a
    >
    <p class="portfolio-paragraphs">
      As well as my Web Design projects much like this page. I am in the top 2%
      of users on TryHackMe.com. If you click the link above it will take you to
      my TryHackMeProfile page. I am well versed in understanding networking and
      modern exploit frameworks.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <a
      href="https://coursera.org/share/85ec0c84282df9733323cc7d839b6643"
      class="portfolio-links">Google Cybersecurity Certification</a
    >
    <p class="portfolio-paragraphs">
      The Google Cybersecurity Certificate is a comprehensive online course that
      prepares you for an entry-level cybersecurity job. I have been working
      towards completion of the course, as of this time I have finished first
      section and am halfway through the second.
    </p>
    <p class="portfolio-paragraphs">
      I have successfully completed multiple portfolio projects, which you can
      view on my <a
        href="https://www.dropbox.com/scl/fo/zrl7vql9hj5ty6t49kjxl/h?rlkey=w8611valcycesi73xfylwcz06&dl=0"
        class="portfolio-paragraph-links">Drop Box</a
      >
    </p>
    <p class="portfolio-paragraphs">
      One of them is:
      <ul>
        <li class="portfolio-ul">
          <a
            href="https://www.dropbox.com/scl/fi/ftmhciqrw9yja1yspeiyh/professional-statementRyanS.pdf?rlkey=62cdzymca493v4bs68msko4u9&dl=0"
            class="portfolio-links"
            >A drafted professional statement
          </a>
          - Which showcases my strengths and values.
        </li>
      </ul>
      The other is:
      <ul>
        <li class="portfolio-ul">
          <a
            href="https://www.dropbox.com/scl/fi/g61tw6xeyitwgzpe92vev/Control-categories-Ryan-S.pdf?rlkey=xy289yhlxrge0ecf0k6espyoo&dl=0"
            class="portfolio-links"
            >A risk assesment
          </a>
          - Performed by me, which describes faults in regards to the CIA Triad for
          a company.
        </li>
      </ul>
      Please click the links and explore my Drop Box, you can also find my <a
        href="https://www.dropbox.com/scl/fi/tgdee7mbf87igm74csuir/ryan-stanton-resumeUpdated09_26_23.pdf?rlkey=qdq4try4tfh65zyu4cya3qlv8&dl=0"
        class="portfolio-paragraph-links">resume</a
      > there.
      <p>Status: <span class="ongoing-display">Ongoing</span></p>
    </p><hr class="portfolio-line" />
    <img
      src="/assets/images/certificate.png"
      class="certificate-png"
      alt="certificate stating 'Ryan Stanton has successfully completed the Engineering immersion program - Thinkful.com'"
    />
  </main>
</BaseLayout>
