---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="My Portfolio">
  <p>
    A list and descriptions of projects I have completed/designed. Some projects
    are for clients/family, or for Thinkful.com's Software Engineering Immersion
    Boot Camp.
  </p>

  <main>
    <hr class="portfolio-line" />
    <a href="http://allsourcehealingreiki.wordpress.com" class="portfolio-links"
      >ALLsource.com</a
    >
    <p class="portfolio-paragraphs">
      A simple example of a WordPress website built my me. Includes embedded
      Social Media and clickable links. As well as fledged out routes for a
      Home, About, Contact, and Services page.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <a
      href="https://1111estatesalesandliquidation.com/"
      class="portfolio-links"
    >
      11.11 Estate Sales & Liqudation</a
    >
    <p class="portfolio-paragraphs">
      Another example of a WordPress website built my me. Includes fledged out
      routes for a Home, About, Contact, and Services page. Modern styilng and
      social media/contact forms.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <a
      href="https://front-end-six-bay.vercel.app/dashboard"
      class="portfolio-links"
    >
      Restaurant Reservation App</a
    >
    <p class="portfolio-paragraphs">
      A fully fledged Reservation App, built using React/JS for the frontend and
      Node.js/Express for the backend. In it's working state can be used to
      create tables and seat customers. Built to be used in a client facing
      setting for creating and updating reservations. Created for Thinkful.com's
      Boot Camp - Final Project.
    </p><p>Status: <span class="deprecated-display">DEPRECATED</span></p>
    <hr class="portfolio-line" />
    <a href="https://tryhackme.com/p/cyb3r4ngelm4rs" class="portfolio-links">
      TryHackMe.com Profile</a
    >
    <p class="portfolio-paragraphs">
      As well as my Web Design projects much like this page. I am in the top 2%
      of users on TryHackMe.com. If you click the link above it will take you to
      my TryHackMeProfile page. I am well versed in understanding networking and
      modern exploit frameworks.
    </p><p>Status: <span class="ongoing-display">Ongoing</span></p>
    <hr class="portfolio-line" />
    <img
      src="/assets/certificate.png"
      class="certificate-png"
      alt="certificate stating 'Ryan Stanton has successfully completed the Engineering immersion program - Thinkful.com'"
    />
  </main>
</BaseLayout>
