---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <div class="flex-container">
    <Social platform="Twitter" username="ryan_the_dev1" />
    <Social platform="GitHub" username="ryan-theengineer" />
    <Social platform="LinkedIn" username="in/ryan-the-engineer" />
    <Social platform="TryHackMe" username="/p/cyb3r4ngelm4rs" />
  </div>
</footer>
